@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-lighter: #4c9394;
  --secondary-normal: #19393b;
  --primary-normal: #23f3f3;
  --primary-darker: #1dcccc;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

.loader {
  position: relative;
  margin: 0 auto;
}

.loader::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.loader-circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke: #23f3f3;
  stroke-width: 4px;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.scrollbar-light .simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.2 !important;
}

.scrollbar-dark .simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.08 !important;
  background: white;
}

.scrollbar-thin .simplebar-track.simplebar-vertical {
  width: 8px !important;
}

.scrollbar-thin .simplebar-track.simplebar-horizontal {
  height: 8px !important;
}

.CodeMirror {
  height: auto !important;
}
